doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')

    title James Kolce—Programming & Design
    meta(name='description' content='James Kolce is a creative thinker; a programmer with a fine eye for design. Also, a writer published in several online magazines and blogs like SitePoint, CSS-Tricks, and DigitalOcean.')

    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='/css/main.css')

  body
    block content

    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-xxxxxxxx-x','auto');ga('send','pageview')

    script(src='https://www.google-analytics.com/analytics.js' async defer)
